<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/contents.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈 | 카카오페이지</title>
</head>

<body>
    <div id="root">
        <div id="header">
            <div class="pd-20">
                <img src="/images/title_logo.png">
            </div>
            <div class="absolute pd-40 top-0 right-0">
                <div class="inline-block bd-1-lg bd-radius-10 pd-3">
                    <input type="text" size="15">
                    <img class="search-btn" src="/images/btn_search.png">
                </div>
                <span class="inner-span">캐시충전 | 로그인</span>
            </div>
        </div>

        <!-- 공통 내비게이션 -->
        <nav id="top-nav">
            <ul id="top-nav-ul">
                <li class="nav-dummy"></li>
                <li class="nav-dummy webtoon active"></li>
                <li class="nav-dummy"></li>
                <li class="nav-dummy"></li>
                <li class="nav-dummy"></li>
                <li class="nav-dummy"></li>
            </ul>
        </nav>

        <!-- 메인 컨텐츠 시작 -->
        <div id="main">
            <div id="contents">
                <!-- [웹툰] 탭의 하위 컨텐츠 시작-->
                <div class="contents-nav font-title">
                    <ul id="webtoon-nav" class="contents-ul pd-tb-5">
                    </ul>
                </div>

                <!-- 홈 -->
                <div id="home" class="page visible">
                    <div class="slideshow-container">
                        <% home_slide.forEach(function(home_slide){ %>
                            <div class="homeSlides fade">
                                <div class="slide-num">
                                    <%= home_slide.slideNum %>
                                </div>
                                <img style="width:100%" src="<%= home_slide.img %>">
                                <div class="slide-title">
                                    <%= home_slide.title %>
                                </div>
                                <div class="slide-subtext"><img src="<%= home_slide.subtext_img %>">
                                    <%= home_slide.subtext_dir %>
                                        <img src="/images/line_top_banner.png"> <img
                                            src="/images/ico-bigthum-person.svg">
                                        <%= home_slide.subtext_cnt %>
                                </div>
                                <div class="slide-explain">
                                    <%= home_slide.explain %>
                                </div>
                            </div>
                            <% }); %>
                    </div>

                    <!-- 첫번째 배너 -->
                    <div class="card text-center pd-20px" style="display: flex">
                        <% homeBanner.forEach(function(homeBanner) {%>
                            <div class="flex-balanced mg-1px bg-color__main font-main pd-10 <%= homeBanner.attr %> >">
                                <%= homeBanner.title %>
                                    <% if(homeBanner.count !=='' ) { %>
                                        <span class="counts">
                                            <%= homeBanner.count %>
                                        </span>
                                        <% }; %>
                            </div>
                            <% }); %>
                    </div>

                    <!-- 두번째 배너 -->
                    <div class="card flex pd-20px">
                        <img id="btn-prev" class="btn">
                        <div id="banner-1" class="middle mg-left-10 mg-right-10">
                            <img class="block" width="100%" id="banner-img">
                        </div>
                        <img id="btn-next" class="btn">
                    </div>

                    <!-- 세번째 배너 - 요일 연재 TOP -->
                    <div class="card pd-20px">
                        <div class="flex">
                            <div class="font-title"> 요일 연재 TOP </div>
                            <div class="font-small gray flex mg-left-5">(1,084)</div>
                            <div class="font-main gray">더보기</div><img class="more btn mg-left-5">
                        </div>
                        <!-- 요일 내비게이션 -->
                        <div class="flex bd-bt-gray">
                            <ul id="daytop-nav" class="pd-t-10">
                            </ul>
                        </div>
                        <div id="daytop-div-row1" class="flex-between">
                        </div>
                    </div>

                    <!-- 네번째 배너 - 기대 신작 TOP -->
                    <div class="card pd-20px">
                        <div class="flex">
                            <div class="font-title flex"> 기대신작 TOP </div>
                            <div class="font-main gray">더보기</div><img class="more btn mg-left-5">
                        </div>
                        <div class="flex-between">
                            <% day_expect.forEach(function(data) { %>
                            <div class="minishow-container">
                                <img class="bd-radius-5" src=" <%= data.item.image %> ">
                                <div class="minishow-title"> <%= data.item.title %> </div>
                                <div class="minishow-subtext">
                                    <img src=" <%= data.item.e_img %> ">
                                    <img src=" <%= data.item.c_img %> ">
                                    <%= data.item.subject %>
                                    <img src=" <%= data.item.b_img %> ">
                                    <img src=" <%= data.item.p_img %> ">
                                    <%= data.item.count %>
                                </div>
                                <div class="minishow-explain">
                                    <%= data.item.explain %>
                                </div>
                            </div>
                            <% }) %>
                        </div>
                    </div>

                    <!-- 다섯번째 ~ 아홉번째 배너 -->
                    <% home_top.forEach(function(data) { %>
                        <div class="card pd-20px">
                            <div class="flex">
                                <div class="font-title flex">
                                    <%= data.subject %>
                                </div>
                                <div class="font-main gray">더보기</div><img class="more btn mg-left-5">
                            </div>
                            <!-- 썸네일 영역 -->
                            <div class="flex-between">
                                <% data.item.forEach(function(item) { %>
                                    <div class="mg-top-10" style="width:120px;">
                                        <div class="thumb">
                                            <img src=" <%= item.image %> ">
                                            <div class="thumb-bottom bottom flex">
                                                <div class="flex">
                                                    <img class="star" src=" <%= item.star_img %> ">
                                                    <div class="yellow font-18 mg-top-3">
                                                        <%= item.score %>
                                                    </div>
                                                </div>
                                                <img src=" <%= item.c_img %> ">
                                            </div>
                                        </div>
                                        <div class="text-ellipsis bottom mg-top-25 letter-spacing">
                                            <%= item.title %>
                                        </div>
                                        <div class="bottom">
                                            <div class="flex mg-top-3">
                                                <img src=" <%= item.up_img %> ">
                                                <img src=" <%= item.p_img %> ">
                                                <div class="font-14 gray">
                                                    <%= item.count %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                            </div>
                        </div>
                        <% }) %>
                    <!-- 네번째 배너 - 기대 신작 TOP -->
                    <div class="card pd-20px">
                        <div class="flex">
                            <div class="font-title flex">추천 이벤트</div>
                            <div class="font-main gray">더보기</div><img class="more btn mg-left-5">
                        </div>
                        <div class="flex-between">
                        </div>
                    </div>
                </div>

                <!-- 요일연재 -->
                <div id="day" class="page invisible">
                    <div class="slideshow-container">
                        <% day_slide.forEach(function(day_slide){ %>
                            <div class="daySlides fade">
                                <div class="slide-num">
                                    <%= day_slide.slideNum %>
                                </div>
                                <img style="width:100%" src="<%= day_slide.img %>">
                                <div class="slide-title">
                                    <%= day_slide.title %>
                                </div>
                                <div class="slide-subtext"><img src="<%= day_slide.subtext_img %>">
                                    <%= day_slide.subtext_dir %>
                                        <img src="/images/line_top_banner.png"> <img
                                            src="/images/ico-bigthum-person.svg">
                                        <%= day_slide.subtext_cnt %>
                                </div>
                                <div class="slide-explain">
                                    <%= day_slide.explain %>
                                </div>
                            </div>
                            <% }); %>
                    </div>
                    <!-- 요일연재 메인 -->
                    <div class="card">
                        <!-- 요일 내비게이션 -->
                        <div class="flex bd-bt-gray">
                            <ul id="daytop-main-nav">
                            </ul>
                        </div>
                        <div id="daytop-main-div" class="flex-between pd-20px">
                        </div>
                    </div>
                    <div class="card pd-20px">구현 예정입니다..</div>
                    <div class="card pd-20px">구현 예정입니다..</div>
                </div>

                <!-- 웹툰 -->
                <div id="webtoon" class="page invisible">
                    <div class="slideshow-container">
                        <% home_slide.forEach(function(home_slide){ %>
                            <div class="webtoonSlides fade">
                                <div class="slide-num">
                                    <%= home_slide.slideNum %>
                                </div>
                                <img style="width:100%" src="<%= home_slide.img %>">
                                <div class="slide-title">
                                    <%= home_slide.title %>
                                </div>
                                <div class="slide-subtext"><img src="<%= home_slide.subtext_img %>">
                                    <%= home_slide.subtext_dir %>
                                        <img src="/images/line_top_banner.png"> <img
                                            src="/images/ico-bigthum-person.svg">
                                        <%= home_slide.subtext_cnt %>
                                </div>
                                <div class="slide-explain">
                                    <%= home_slide.explain %>
                                </div>
                            </div>
                            <% }); %>
                    </div>
                </div>
                <div id="boy" class="page invisible">구현예정...</div>
                <div id="drama" class="page invisible">구현예정...</div>
                <div id="romance" class="page invisible">구현예정...</div>
                <div id="fantasy" class="page invisible">구현예정...</div>
                <div id="action" class="page invisible">구현예정...</div>
                <div id="book" class="page invisible">구현예정...</div>
                <div id="blgl" class="page invisible">구현예정...</div>
            </div>
            <div id="blank">
                <span style="font-size:20px; color:gray;">컨텐츠가 없습니다.</span>
            </div>
        </div>
        <div class="footer bg-color__content">
           <img src="/images/appDownload.png">
        </div>
        <div id="footer-line" class="footer gray">
        </div>
    </div>

    <script src="/javascripts/util.js"></script>
    <script src="/javascripts/init.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/setting.js"></script>
</body>

</html>