<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/contents.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈 | 카카오페이지</title>
</head>

<body>
    <div id="root">
        <div id="header">
            <div class="pd-20">
                <img src="/images/title_logo.png">
            </div>
            <div class="absolute pd-40 top-0 right-0">
                <div class="inline-block bd-1-lg bd-radius-10 pd-3">
                    <input type="text" size="15">
                    <img class="search-btn" src="/images/btn_search.png">
                </div>
                <span class="inner-span">캐시충전 | 로그인</span>
            </div>
        </div>

        <!-- 공통 내비게이션 -->
        <nav id="top-nav">
            <ul id="top-nav-ul">
                <li class="nav-dummy"></li>
                <li class="nav-dummy webtoon active"></li>
                <li class="nav-dummy"></li>
                <li class="nav-dummy"></li>
                <li class="nav-dummy"></li>
                <li class="nav-dummy"></li>
            </ul>
        </nav>

        <!-- 메인 컨텐츠 시작 -->
        <div id="main">
            <div id="contents">

                <!-- [웹툰] 탭의 하위 컨텐츠 시작-->
                <div class="contents-nav">
                    <ul>
                        <li id="content-home" class="contents-li home c-active">홈</li>
                        <li class="contents-li day">요일연재</li>
                        <li class="contents-li webtoon">웹툰</li>
                        <li class="contents-li boy">소년</li>
                        <li class="contents-li drama">드라마</li>
                        <li class="contents-li romance">로맨스</li>
                        <li class="contents-li fantasy">로판</li>
                        <li class="contents-li action">액션무협</li>
                        <li class="contents-li blgl">BL/GL</li>
                    </ul>
                </div>

                <!-- 홈 -->
                <div id="home" class="page visible">
                    <div class="slideshow-container">
                        <% home_slide.forEach(function(home_slide){ %>
                            <div class="mySlides fade">
                                <div class="slide-num"><%= home_slide.slideNum %></div>
                                <img style="width:100%" src= "<%= home_slide.img %>" >
                                <div class="slide-title"><%= home_slide.title %></div>
                                <div class="slide-subtext"><img src = "<%= home_slide.subtext_img %>"> <%= home_slide.subtext_dir %>
                                    <img src = "/images/line_top_banner.png"> <img src = "/images/ico-bigthum-person.svg">
                                    <%= home_slide.subtext_cnt %> </div>
                                <div class="slide-explain"><%= home_slide.explain %></div>
                            </div>
                        <% }); %>
                    </div>
                    <!-- 첫번째 배너 -->
                    <div class = "card" style="display: flex">
                        <% homeBanner.forEach(function(homeBanner) {%>
                            <div class="flex-balanced mg-1px bg-color__main font-main pd-10 <%= homeBanner.attr %> >"><%= homeBanner.title %>
                                <% if(homeBanner.count !== '') { %>
                                    <span class = "counts"> <%= homeBanner.count %> </span>
                                <% }; %>
                            </div>
                        <% }); %>
                    </div>
                    <!-- 두번째 배너 -->
                    <div class = "card flex">
                        <img id="btn-prev" class="btn">
                        <div id="banner-1" class="middle mg-left-10 mg-right-10">
                            <img class="block" width="100%" id="banner-img">
                        </div>
                        <img id="btn-next" class="btn">
                    </div>
                    <!-- 세번째 배너 -->
                    <div class ="card flex">
                        <div class="font-title flex">요일 연재 TOP
                            <div class="font-small gray flex mg-left-5">(1,084)</div>
                        </div>
                        <div class="font-main gray">더보기<img class="btn" src="/images/more_btn.svg">
                        </div>
                    </div>
                    <!-- 네번째 배너 -->
                    <div class = "card flex">
                        <div class="font-title flex">기대신작 TOP</div>
                        <div class="font-main gray">더보기</div><img class="btn" src="/images/more_btn.svg">
                    </div>
                    <!-- 다섯번째부터 여덟번째는 반복된 요소라 아래 하드코딩을 없앨 예정 -->
                    <!-- 다섯번째 배너 -->
                    <div class = "card flex">
                        <div class="font-title flex">로맨스 TOP</div>
                        <div class="font-main gray">더보기</div><img class="btn" src="/images/more_btn.svg">
                    </div>
                    <!-- 여섯번째 배너 -->
                    <div class = "card flex">
                        <div class="font-title flex">로판 TOP</div>
                        <div class="font-main gray">더보기</div><img class="btn" src="/images/more_btn.svg">
                    </div>
                    <!-- 여섯번째 배너 -->
                    <div class = "card flex">
                        <div class="font-title flex">드라마 TOP</div>
                        <div class="font-main gray">더보기</div><img class="btn" src="/images/more_btn.svg">
                    </div>
                    <!-- 일곱번째 배너 -->
                    <div class = "card flex">
                        <div class="font-title flex">BL/GL TOP</div>
                        <div class="font-main gray">더보기</div><img class="btn" src="/images/more_btn.svg">
                    </div>
                    <!-- 여덟번째 배너 -->
                    <div class = "card flex">
                        <div class="font-title flex">소년 TOP</div>
                        <div class="font-main gray">더보기</div><img class="btn" src="/images/more_btn.svg">
                    </div>
                </div>

                <!-- 요일연재 -->
                <div id="day" class="page invisible">
                    <div class="slideshow-container">
                        <% day_slide.forEach(function(day_slide){ %>
                            <div class="daySlides fade">
                                <div class="slide-num"><%= day_slide.slideNum %></div>
                                <img style="width:100%" src= "<%= day_slide.img %>" >
                                <div class="slide-title"><%= day_slide.title %></div>
                                <div class="slide-subtext"><img src = "<%= day_slide.subtext_img %>"> <%= day_slide.subtext_dir %>
                                    <img src = "/images/line_top_banner.png"> <img src = "/images/ico-bigthum-person.svg">
                                    <%= day_slide.subtext_cnt %> </div>
                                <div class="slide-explain"><%= day_slide.explain %></div>
                            </div>
                        <% }); %>
                    </div>
                    <div class = "card">구현 예정입니다..</div>
                    <div class = "card">구현 예정입니다..</div>
                    <div class = "card">구현 예정입니다..</div>
                </div>

                <!-- 웹툰 -->
                <div id="webtoon" class="page invisible">구현예정...</div>
                <div id="boy" class="page invisible">구현예정...</div>
                <div id="drama" class="page invisible">구현예정...</div>
                <div id="romance" class="page invisible">구현예정...</div>
                <div id="fantasy" class="page invisible">구현예정...</div>
                <div id="action" class="page invisible">구현예정...</div>
                <div id="book" class="page invisible">구현예정...</div>
                <div id="blgl" class="page invisible">구현예정...</div>
            </div>
            <div id="dummy">
                <span style="font-size:20px; color:gray;">컨텐츠가 없습니다.</span>
            </div>
        </div>
    </div>

    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/util.js"></script>
</body>

</html>